html{
    background-color: white;
}

body {
    border-style: solid;
    padding: 3%;
    max-width: 1000px;
    background-color: rgb(253, 243, 236);
}

input {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
}

button {
    background-color: rgb(223, 41, 41);
    border: none;
    width: 80px;
    color: white;
    text-align: center;
    padding: 5px 12px;
    margin: 0 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0 12%;
}

.row {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.column {
    flex: 50%;
    padding: 3% 5%;
}

.vl {
    border-left: 2px solid black;
    min-height: 100px;
    height: auto;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
